div
 h1=movie.title
 img(src=`${movie.img}` alt=`${movie.title}`)
 p=movie.description
 p=movie.duration
 p tiempo de duracion: 
    strong=movie.duration




form(action=`/movies/${movie._id}/update` method="POST")
  div
    label Title:
      input(type="text" name="title" value=movie.title) 
  div
    label Image:
      input(type="text" name="img" value=movie.img)
  div
    label Description:
      textarea(name="description", cols="30", rows="10")=movie.description
  div
    label Duration:
      input(type="number", name="duration" value=movie.duration)
  button(type="submit") picale